body {
  display: flex;
  justify-content: center;
}

.header-container {
  text-align: center;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
}

.footer-container {
  text-align: center;
  margin-top: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
}
